.helloworld.helloworld--greeting {
  color: navy;
}

.helloworld.helloworld--button {
  background-color: rgb(250, 121, 0);
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.helloworld.helloworld--button {
  background-color: rgb(250, 121, 0);
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.helloworld.helloworld--button-disabled {
  background-color: silver;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
